@charset "UTF-8";

/* This CSS file contains all stylings that are applicable to leadership.html */

#solar-profiles-section {
    padding-top: 4em;
    padding-bottom: 3em;
}

#solar-profiles .solar-name {
    font-size: 2.5em;
}

#solar-profiles .solar-position {
    font-size: 1.4em;
}

#solar-profiles .solar-major {
    font-size: 0.98em;
}

#solar-profiles .solar-name-right {
    text-align: right;
    font-size: 2.5em;
}

#solar-profiles .solar-position-right {
    text-align: right;
    font-size: 1.4em;
}

#solar-profiles .solar-major-right {
    text-align: right;
    font-size: 0.98em;
}

#solar-profiles .solar-headshot {
    width: 100%;
    height: auto;
}

.solar-img-holder {
    overflow: hidden;
    position: relative;

}

.solar-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    visibility: hidden;
}
.solar-img-holder:hover > .solar-overlay {
    visibility: visible;
}
.solar-img-holder p {
    /*font-family: 'Kodchasan', sans-serif;*/
    text-align: center;
    color: #FFF;
    font-size: 1.1em;
    margin-bottom: 0.8rem;
}
.solar-about-left p {
    /*font-family: 'Kodchasan', sans-serif;*/
    text-align: left;
    color: #000;
    font-size: 1.1em;
    margin-bottom: 0.8rem;
}
.solar-about-right p {
    /*font-family: 'Kodchasan', sans-serif;*/
    text-align: right;
    color: #000;
    font-size: 1.1em;
    margin-bottom: 0.8rem;
}
.flexcontainer {
  display: flex;
  flex-flow: column wrap;
}
.sketchy {
    display: inline-block;
    width: 100%;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;

    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}